.header{
    position:sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgray;
    padding: 10px 0px;
    width: 100%;
    z-index: 999;
    background-color: white;
}
.header__left{
    display: flex;
    align-items: center;
}
.header__left > img{
    object-fit: contain;
    height: 40px;
    margin-right: 10px;
}
.header__search{
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    height: 22px;
    color: grey;
    background-color: #eef3f8;
}
.header__search > input{
    border: none;
    background: none;
    outline: none;
}
.header__right{
    display: flex;
    align-items: center;
    justify-content: center;
}